.heading
{
   font-size: 23px;
   width: 100%;
   margin: 0px;
   box-shadow: 5px 5px 5px rgb(216, 219, 0);
}

.note
{
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(230, 61, 61);
    line-height: 3;
    text-align: center;
}

canvas
{
    border: 5px solid rgb(230, 61, 61);
    border-radius: 20px;
    box-shadow: 5px 5px 5px slategray;
}

